.technology__container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 2.0rem;
}

.technology_item{
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    width: 170px;
}

.technology_item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
}

.technology__item-image{
    border-radius: 1.5rem;
    overflow: hidden;
}

 /* ================= MEDIA QUERIES (MEDIUM DEVICES) ==================*/
 @media screen and (max-width:1024px) {
    .technology__container{
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1.2rem;
    }
 }

  /* ================= MEDIA QUERIES (SMALL DEVICES) ==================*/
  @media screen and (max-width:600px) {
    .technology__container{
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        /* border: 1px solid red; */
        padding: 0px 35px;
    }
  }
 